DB_HOST=localhost
DB_PORT=3306
DB_NAME=todolist_db
DB_USER=root
DB_PASSWORD=rootpassword
DB_SSL=false
APP_AUTH_JWT_SECRET=replace-with-at-least-32-random-characters
APP_AUTH_SECURE_COOKIE=false
APP_BOOTSTRAP_ADMIN_USERNAME=admin
APP_BOOTSTRAP_ADMIN_DISPLAY_NAME=管理员
APP_BOOTSTRAP_ADMIN_PASSWORD=ChangeMe123!
APP_BOOTSTRAP_MEMBER_USERNAMES=member1,member2,member3,member4
APP_BOOTSTRAP_MEMBER_PASSWORD=ChangeMe123!
